
.mylogo{
    font-weight: 900 !important;
    color:$darkblue !important;
    padding-left:1.5em;
}
.overflow{
    overflow: hidden ;
}

body{
    background-color:white;
    overflow-x: hidden;
}
.img{
    border-radius:60px;
    overflow: hidden;

    img{
        height:100%;
        width:auto;
    }
}


.close-nav{
    
    &::before,&::after{
        content: "";
        height: 2px;
        width: 18px;
        background-color: $darkblue;
        display: block;
    }
    &::before{
        transform: rotate(45deg);
    }
    &::after{
        transform: rotate(-45deg) translate(1.5px, -1px);
    }
}
.footer{
    text-align: center;
    display: block;
    width: 100%;
    background-color: $darkblue;
    padding: 7px;
    position: absolute;
    bottom:0;
    left: 0;
    a{
        color:white;
        user-select: none;
    }
}
.py-4{
    position: relative;
}
.test{
    // pointer-events: none;
    user-select: none; 
    -webkit-user-drag: none; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height:100%;
    width:10%;
    // background-color: #f4f4f4;
    z-index: 99999;
    position: fixed;
    top:37px;
    right:0;
}
.clear{
    margin:0 auto;
    padding:0;
}

.online,.offline{
    height:6px;
    width:6px;
    display:block;
    border-radius:10px;
}
.offline{
    background-color:$red;
}
.online{
    background-color:$green;
}


.product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:10px 0px;
    color:$darkblue;
    // touch-action: none;
    // user-select: none;
    // -webkit-user-drag: none;
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    &:hover{
        cursor: pointer;
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
    }
    .product-heading{
        display: flex;
        align-items:center;
        pointer-events: none;
        user-select: none; 
        // -webkit-user-drag: none; 
        // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        .product-content{
            padding-left:15px;
            h6{
                font-weight:700;
                font-size:14px;
                color:$darkblue;
                text-transform: capitalize;
            }
            p{
                margin:0px;
                i{
                    margin-right:5px;
                }
            }
        }            
    }
    .img{
        height:70px;
        width:70px;
        background-color:$light-gray;
        border-radius:8px;
        overflow:hidden;
        img{
            height:100%;
            width:auto;
        }
    }
    .star{
        color:$orange;
        font-size:16px;
    }
}


    .category-filters-wrap{
        margin:10px 0px !important;
        display: inline-flex;
        .category-filter-by{
            background-color:$light-gray;
            border-radius: 8px;
            // visibility: hidden;
            // transform: translateY(400);
            // transform:translateY(-400) scaleY(0);
            transform-origin: top;
            // width:100%;
            // height:0;
            // position: absolute;
            // opacity:0;
            
            transition:0.3s ease;
            p{
                margin:0;
                padding:10px;
                display: flex;
                justify-content: space-between;
                color:$darkblue;
                font-weight:900;
               
            }
        }
        ul{
            margin:0;
            padding:0;
            li{
                list-style-type: none;
                a{
                    text-decoration: none
                }
            }
        }
    }


.show-category-filters{
    visibility: visible !important;
    transform: translateY(0px) !important;
    height: 100% !important;
    transition: 1s ease;
}