.category-wrap {
	margin-bottom: 25px;
	position: relative;
	
	h3 {
		font-size: 16px;
		color: $darkblue;
		margin-bottom: 8px;
		margin-top: 10px;
	}
	
	.VueCarousel-slide {
		margin: 0px 10px;
		
		&:first-of-type {
			margin-left: 0px;
		}
		
		&:last-of-type {
			margin-right: 0px;
		}
	}
	
	.product {
		position: relative;
		&:focus,&:focus-within,&:active,&:visited{
			transform:scale(1.1);
			transition: 0.2s ease;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
			-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
		}
		
		.cat-link {
			width: 100%;
			
			.category-heading {
				color: $white;
				position: absolute;
				z-index: 999999;
				top: 0;
				bottom: 0;
				left: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				h5 {
					font-size: 16px;
					margin-top: 8px;
					text-transform: capitalize;
					font-weight: 900;
					text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
				}
				
				p {
					font-size: 12px;
					margin: 0;
					margin-top: 5px;
					text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

				}
			}
			
			.img {
				width: 100% !important;
				height: 100px !important;
				background-color: $light-gray;
				
				img {
					width: auto;
					height: auto;
				}
			}
		}
	}
}

@keyframes position {
	0% {
		position: relative;
	}
	
	100% {
		position: static;
	}
}

.removeParentPosition {
	animation: position 1s ease;
	animation-fill-mode: forwards;
}

@keyframes openCategories {
	0% {
		height: 0px;
		opacity: 0;
		top: 108%;
		transform-origin: top;
	}
	
	100% {
		position: static;
		height: 100vh;
		min-height: 100vh;
		transform: scaleY(1);
		opacity: 1;
		padding: 20px 0px;
	}
}

.cat-product-visible {
	animation: openCategories 0.6s ease;
	animation-fill-mode: forwards;
}

.categories-wrap {
	background-color: $white;
	transform-origin: top;
	height: 0;
	width: 100%;
	top: 108%;
	opacity: 0;
	
	.cat-wrap-heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid #f4f4f4;
		
		h3 {
			font-weight: 900;
			font-size: 17px;
			color: $darkblue;
			text-transform: capitalize;
			margin: 0;
			
			span {
				text-transform: none;
				font-weight: 400;
			}
		}
		
		button {
			i {
				color: $darkblue;
			}
		}
	}
	
	.category-product {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 10px 0px;
		color: $darkblue;
		overflow: hidden;
		height: auto;
		width: 100%;
		&:focus,&:focus-within,&:active,&:visited > .img{
			transform:scale(1.1);
			transition: 0.2s ease;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
			-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
		}
		.category-link {
			position: relative;
			width: 100%;
			margin-top:10px;
			.img {
				border-radius: 8px;
				height: 180px;	
				img {
					width: auto;
					height: auto;
				}
			}
		}
		.category-product-heading {
			display: flex;
			flex-direction: column;
			align-items: left !important;
			color:$darkblue;
			h5 {
				text-transform: capitalize;
				font-size: 18px;
				font-weight: 900;
			}
			h6{
				font-weight: 400;
				margin-top:10px;
			}
			p {
				margin: 0;
				font-weight: 900;
				
				span {
					font-weight: 400;
				}
				
			}
		}
	}
}



.VueCarousel-dot-container,
.VueCarousel-dot {
	margin: 0 !important;
}

.VueCarousel-pagination {
	position: absolute;
	bottom: 0;
	
	.VueCarousel-dot--active {
		background-color: $lightblue !important;
		height: 8px !important;
		width: 8px !important;
	}
	
	.VueCarousel-dot {
		height: 8px !important;
		width: 8px !important;
	}
}
